html{
  background-color: #f8eed9;
}

div {
  background-color: #f8eed9;
}

p {
  color: black;
  font-size: 20px;
  margin-left: 20px;
}

.titulo{
  color: black;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
